h1{
    text-align: center;
    color: brown;
    font-size: 45px;
  }
  img{
    width: 700px;
  }
  .box{
     text-align: center;
  }
  
  h2{
    text-align: center;
    color: #f926
  }
  dl1{
    text-align: center;
  }
  dl2{
    text-align: center;
  }
  h3{
    text-align: center;
    color: brown;
  }
  dl3{
    text-align: center;
  }
  dl4{
    text-align: center;
  }
  dl5{
    text-align: center;
  }
  h4{
    text-align: center;
    color: #f824
  }
  dl6{
    text-align: center;
  }